<div class="h1"><h1 class="text-center">Welcome to the Movie finder!  Search any movie between 2000-present</h1></div>

<div *ngIf="movieSearchList.length == 0"><p>Search for movie by random Keyword</p>

       <input #newMovie (keyup.enter)="searchMovies(newMovie.value)" type="text"><button (click)="searchMovies(newMovie.value)" class="btn btn-primary">Submit</button>
</div> 
<div *ngIf="movieSearchList.length > 0">
       <ol *ngFor="let list of movieSearchList">
              <li>{{list.title}}</li>
              <li>Release year: {{list.releaseYear}}</li>
       </ol>
</div>
    

