.Question {
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}
.body1 {
    text-align: center;
    visibility: hidden;
}
.passed {
    text-align: center;
    color: rgb(86, 255, 95);
    font-weight: bolder;
}
.failed{
    text-align: center;
    color:rgb(255, 34, 34);
    font-weight:bolder
}
